<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= profile.interests %>
  </p>

  <p>
    <strong>Preferences:</strong>
    <%= profile.preferences %>
  </p>

</div>
